<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
</head>
<body>
    {{template "navbar" .}}
    <div class="container h-100">
        <div style="width: 80%; margin:auto" class="row h-100 justify-content-center align-items-center">
            <form action="/login/validate" method="post">
                <table class="table table-responsive">
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" id="username"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" id="password"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center"><input type="submit" class="btn btn-success" value="Login"></td>
                    </tr>
                    <span style="color: red">{{.Message}}</span>
                </table>
            </form>
        </div>
    </div>
</body>
</html>