<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
</head>
<body>
    {{template "navbar" .}}
    <div style="width: 80%;margin: auto">
        
        <form action="/contactus/submit" method="post">
            <table style="width: 100%">
                <tr>
                    <td style="width: 20%"><strong>Fullname</strong></td>
                    <td style="width: 80%"><input type="text" name="fullname" id="fullname" width="100%" style="display: block; width: 100%"></td>
                </tr>
                <tr>
                    <td style="width: 20%"><strong>Email</strong></td>
                    <td style="width: 80%"><input type="text" name="email" id="email" width="100%" style="display: block; width: 100%"></td>
                </tr>
                <tr>
                    <td style="width: 20%"><strong>Phone</strong></td>
                    <td style="width: 80%"><input type="text" name="phone" id="phone" width="100%" style="display: block; width: 100%"></td>
                </tr>
                <tr>
                    <td style="width: 20%"><strong>Subject</strong></td>
                    <td style="width: 80%"><input type="text" name="subject" id="subject" width="100%" style="display: block; width: 100%"></td>
                </tr>
                <tr>
                    <td><strong>Message</strong></td>
                    <td><textarea name="message" id="message" cols="30" rows="10" style="display: block; width: 100%"></textarea></td>
                </tr>
                <tr style="text-align: center">
                    <td colspan="2">
                        <input class="btn btn-success mr-2" type="submit" value="Add">
                        <input class="btn btn-danger" type="button" value="Back" onclick="window.location='home';">
                    </td> 
                </tr>
                <span style="color: red">{{.Error}}</span>
                <span style="color: green">{{.Ok}}</span>
            </table>
        </form>
    </div>
</body>
</html>
