<!DOCTYPE html>
<html lang="en">
<head>
    {{template "header" .}}
</head>
<body>
    {{template "navbar" .}}
    <div style="width: 80%; margin: auto">
        
        <table class="table table-responsive table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <strong>Title</strong>
                    </th>
                    <th>
                        <strong>Content</strong>
                    </th>
                    <th>
                        <strong>Published</strong>
                    </th>
                    <th>
                        <strong>Action</strong>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                {{range .Values}}
                <tr>
                    <td scope="row">
                        {{.Title}}
                    </td>
                    <td>
                        {{.Content}}
                    </td>
                    <td>
                        {{if eq .IsPublished false}}
                        <form action="/articles/publish" method="post">
                            <input type="hidden" name="article_id" value="{{.ArticleID}}">
                            <input class="btn btn-success" type="submit" value="Publish">
                        </form>
                        {{else}}
                        <form action="/articles/unpublish" method="post">
                            <input type="hidden" name="article_id" value="{{.ArticleID}}">
                            <input class="btn btn-dark" type="submit" value="Unpublish">
                        </form>
                        {{end}}
                    </td>
                    <td>
                        <form action="/articles/delete" method="post">
                            <input type="hidden" name="article_id" value="{{.ArticleID}}">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
            <span style="color: red">{{.Error}}</span>
            <span style="color: green">{{.Ok}}</span>
        </table>
    </div>
    <div align="center" style="width:50%; margin: 0 auto;">
        <button class="btn btn-info mr-4" onClick="window.location='/articles/new';" value="click here" />Add Article
        <button class="btn btn-danger" onClick="window.location='/home';" value="click here" />BACK
    </div>
</body>
</html>