<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{{.Title}}</title>
</head>
<body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</span></a>
                    </li>
                    <li class="nav-item">
                        {{if ne .Sess.Username ""}}
                        <a class="nav-link" href="/articles">ARTICLES</a>
                        {{end}}
                    </li>
                    <li class="nav-item">
                        {{if eq .Sess.Username ""}}
                        <a class="nav-link" href="/login">LOGIN</a>
                        {{else}}
                        <a class="nav-link" href="/logout">LOGOUT</a>    
                        {{end}}
                    </li>
                </ul>
            </nav>
    
    <div style="width: 80%; margin: auto">
        
        <table class="table table-responsive table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <strong>Title</strong>
                    </th>
                    <th>
                        <strong>Content</strong>
                    </th>
                    <th>
                        <strong>Published</strong>
                    </th>
                    <th>
                        <strong>Action</strong>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                {{range .Values}}
                <tr>
                    <td scope="row">
                        {{.Title}}
                    </td>
                    <td>
                        {{.Content}}
                    </td>
                    <td>
                        {{if eq .IsPublished false}}
                        <form action="/articles/publish" method="post">
                            <input type="hidden" name="article_id" value="{{.ArticleID}}">
                            <input class="btn btn-success" type="submit" value="Publish">
                        </form>
                        {{else}}
                        <form action="/articles/unpublish" method="post">
                            <input type="hidden" name="article_id" value="{{.ArticleID}}">
                            <input class="btn btn-danger" type="submit" value="Unpublish">
                        </form>
                        {{end}}
                    </td>
                    <td>
                        <form action="/articles/delete" method="post">
                            <input type="hidden" name="article_id" value="{{.ArticleID}}">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div align="center" style="width:50%; margin: 0 auto;">
        <button class="btn btn-info mr-4" onClick="window.location='articles/new';" value="click here" />Add Article
        <button class="btn btn-danger" onClick="window.location='home';" value="click here" />BACK
    </div>
</body>
</html>